.home {
  background-color: #FE4365;
}

.home a {
  color: #fff;
  text-decoration: none;
}

.f1 {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}

.f2 {
  font-family: 'Lora', Georgia, times, serif;
}

.f3 {
  font-family: 'Hind Madurai', helvetica, arial, sans-serif;
}
