<div class="ma0 pa0 home h-100 flex flex-column justify-center white w-100 vh-100">
  <p class="f-headline-ns f1 tc ma4" [@titleState]="state">Hey, I am Sumit Arora</p>
  <p class="f-subheadline-ns f2 tc ma4" [@subTitleState]="state">
    Solutions Architect at <a target="_blank" href="https://rangle.io/">rangle.io</a>
  </p>
  <div class="tc ma4">
    <a href="https://twitter.com/arorasumit" target="_blank">
      <i class="fab fa-twitter fa-3x white" [@socialState]="state"></i>
    </a>
    &nbsp;&nbsp;
    <a href="https://github.com/sumitarora" target="_blank">
      <i class="fab fa-github fa-3x white" [@socialState]="state"></i>
    </a>
    &nbsp;&nbsp;
    <a href="https://linkedin.com/in/arorasumit85" target="_blank">
      <i class="fab fa-linkedin fa-3x white" [@socialState]="state"></i>
    </a>
  </div>
</div>
