<div class="nav-bar">
  <app-nav-bar-link class="home" title="Home" url=""></app-nav-bar-link>
  <app-nav-bar-link class="about" title="About" url="about"></app-nav-bar-link>
  <app-nav-bar-link class="skills" title="Skills" url="skills"></app-nav-bar-link>
  <app-nav-bar-link class="education" title="Education" url="education"></app-nav-bar-link>
  <app-nav-bar-link class="experience" title="Experience" url="experience"></app-nav-bar-link>
  <!-- <app-nav-bar-link class="spoken" title="Spoken" url="spoken"></app-nav-bar-link> -->
  <!-- <app-nav-bar-link class="blog" title="Blog" url="blog"></app-nav-bar-link> -->
  <!--<app-nav-bar-link class="contact" title="Contact" url="contact"></app-nav-bar-link>-->
</div>
