.experience {
  background-color: rebeccapurple
}


/* display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-top: 100px
  height: 100%

  color: #FFFFFF

  .exp_title
    font-size: 24px

  .exp_company
    font-size: 22px

  .exp_years
    font-size: 22px */
